html {
    height: 100%;
}

body {
    background: rgb(100, 122, 255);
    background: -webkit-linear-gradient(bottom, rgba(100, 122, 255, 1) 0%, rgba(104, 202, 242, 1) 100%);
    background: -o-linear-gradient(bottom, rgba(100, 122, 255, 1) 0%, rgba(104, 202, 242, 1) 100%);
    background: linear-gradient(to top, rgba(100, 122, 255, 1) 0%, rgba(104, 202, 242, 1) 100%);
    background-attachment: fixed;
    color: white;
    font-family: "Roboto", "Piboto", sans-serif;
    text-align: center;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 10px;
    text-align: left;
    font-size: 30px;
    transition: background-color 1s;
}

main {
    padding: 10px;
    padding-top: 25vh;
    transition: padding-top 2s;
    height: 80vh;
}

main.only {
    height: unset;
}

main.dash {
    position: relative;
    top: 80px;
    height: calc(100vh - 100px);
    padding: 10px;
    background-color: white;
    color: black;
    overflow-y: auto;
    text-align: left;
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}

footer {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

a {
    color: rgb(100, 122, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.inherit {
    color: inherit;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
}

.headerLogo {
    position: relative;
    width: 60px;
    float: left;
}

.headerItem {
    float: left;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    transition: background-color 0.5s;
    text-decoration: none!important;
}

a.headerItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

button {
    color: white;
    font-size: 20px;
    font-family: "Roboto", "Piboto", sans-serif;
    padding: 10px;
    background-color: rgb(100, 122, 255);
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

button:focus {
    outline: 0;
}

button:hover {
    background-color: rgb(114, 134, 255);
    cursor: pointer;
}

button:active {
    background-color: rgb(122, 141, 255);
    cursor: pointer;
}

button.secondary {
    color: black;
    background-color: rgb(104, 202, 242);
}

button.secondary:hover {
    background-color: rgb(128, 209, 242);
}

button.secondary:active {
    background-color: rgb(148, 218, 247);
}

button.bad {
    background-color: rgb(239, 67, 67);
}

button.bad:hover {
    background-color: rgb(237, 80, 80);
}

button.bad:active {
    background-color: rgb(214, 70, 70);
}

input {
    color: black;
    font-size: 20px;
    font-family: "Roboto", "Piboto", sans-serif;
    padding: 10px;
    background-color: #ededed;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
}

input:focus {
    outline: 0;
}

.headerRight {
    float: right;
    margin-right: 20px;
}

#menuBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99998;
}

#menu {
    position: fixed;
    top: 0;
    left: -75vw;
    width: 75vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(100, 122, 255);
    transition: left 0.5s;
    z-index: 99999;
}

.menuItem {
    display: block;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 10px;
    transition: background-color 0.5s;
    text-align: left;
    text-decoration: none!important;
}

a.menuItem:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.showDesktop {
    display: unset;
}

.showMobile {
    display: none;
}

#signIn {
    display: none;
}

#signUp {
    display: none;
}

#notsupported {
    display: none;
}

.card {
    display: inline-block;
    width: calc(33.3% - 33px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.card.inverse {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 700px) {
    section {
        margin-left: 20px;
        margin-right: 20px;
    }

    .showDesktop {
        display: none;
    }

    .showMobile {
        display: unset;
    }

    .card {
        width: calc(100% - 30px);
    }
}